<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABOUT</title>
</head>
<body>

<h1>This is from dog</h1>
<img src="/Users/zmey56/Projects/golang-web-dev/024_hands-on/01_hands-on/toby.jpg"}>

</body>
</html>